body {
    background: #101a28;
    color: #b3bbc0;
}

.color-green {
    color: #22a822;
}

.room-own {
    color: grey;
}

.room-friend {
    color: white;
    background: red;
    padding: 0 3px;
}

.user-list thead {
    background: lightgray;
}

.user-list {
    border-spacing: 0;
    border-collapse: collapse;
}

.user-list td {
    border-right: 1px solid #5c5c5c;
    padding: 0 10px 0 4px;
}

.user-list td:last-child {
    border: none;
}

.user-list td.td-avatar {
    text-align: center;
    padding: 4px 8px 0 8px;
    border-right: none;
}

.user-list tr.even {
    background: #d6d6d6;
    color: #111b27;
}

.user-list tr.odd {
    background: #313131;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user-name {
    min-width: 100px;
}