<!DOCTYPE html>

<html>

<head>

  <title>ADMIN (DEV)</title>

  <link href="css/style.css" rel="stylesheet">

  <script type="text/javascript" src="libs/angular.min.js"></script>

  <script type="text/javascript" src="libs/socket.io-1.7.3/socket.io.min.js"></script>

  <script type="text/javascript" src="js/app.js"></script>

</head>

<body ng-app="chatAdmin">

<h1>(DEV) Total users connected: <span class="color-green">{{totalUsers}}</span></h1>
<table class="user-list">
  <tr ng-repeat="user in userList" class="{{$index % 2 === 0 ? 'even' : 'odd'}}">
    <td># {{$index + 1}}</td>
    <td class="td-avatar">
      <img src="{{user.avatar}}" class="user-avatar">
    </td>
    <td class="user-name">{{user.name}}</td>
    <td class="user-id">ID: {{user.appId}}</td>
    <td>
      Room:
      <span ng-if="user.appId == user.roomId" class="room-own">Own room</span>
      <span ng-if="user.appId != user.roomId">
        <img ng-if="userList[user.roomId]" ng-src="{{userList[user.roomId].avatar}}" class="user-avatar">
        <span class="room-friend">{{userList[user.roomId].name}} ({{user.roomId}})</span>
      </span>
    </td>
  </tr>
</table>

</body>

</html>